body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}
body header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
body header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body header nav li {
  display: inline-block;
  margin: 0 10px;
}
body header nav a {
  color: #fff;
  text-decoration: none;
}
body main {
  max-width: 800px;
  margin: 0 auto;
}
body main section {
  margin: 20px 0;
  padding: 20px;
  background-color: #eee;
}
body main section h2 {
  margin-top: 0;
}
body main section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main section ul li {
  margin: 10px 0;
  flex-basis: calc(33.33% - 20px);
}
body main section ul li a {
  color: #333;
  text-decoration: none;
}
body main section ul li a img {
  max-width: 100%;
  height: auto;
}
body footer p {
  text-align: center;
}
